<style>
    .text-box {
        text-align: center;
    }

    .g{
    display: flex;
    justify-content: center;
    }
</style>
{% extends "booking_pages/base.html" %}
{% block content %}
<div class="text-box">
    <h1>Booking #{{ booking.id }}</h1>
    <p>User: {{ booking.user.username }}</p>
    <p>Room: {{ booking.room }} </p>
    <p>Time range: {{ booking.start_time }} - {{ booking.end_time }} </p>
    <p>Total price: ${{ total_price }}</p>
    <div class="g">
        <div class="pd">
            <form method="POST" action="{% url 'cancel-booking' booking.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cancel booking</button>
            </form>
        </div>
    </div>
    <hr>
</div>
{% endblock %}

