{% extends "booking/base.html" %}
{% block content %}
    <form method="POST" class="form-group">
    {% csrf_token %}
        <h1>{{ room.title }}</h1>
        <h2>Capacity: {{room.capacity}}</h2>
        <p>Location: {{room.location}}</p>
        <dvi class="mb-3">
            <label for="start-time">Start-time:</label>
            <input type="datetime-local" id="start-time" name="start-time">
        </dvi>
        <dvi class="mb-3">
            <label for="end-time">End time:</label>
            <input type="datetime-local" id="end-time" name="end-time">
        </dvi>>
        <button type="submit" class="btn btn-primary">Book this room</button>
    </form>
{% endblock %}